.app-container {
    padding: 20px;
    padding-top: 100px;
    display: flex;
}
.app-dashboard {
    margin-left: 50px;
    width: 100%;
    h1 {
        margin-bottom: 0;
    }
}
.app-sidebar {
    width: 320px;
    margin-left: -35px;
    padding-left: 60px;
    padding-top: 100px;
    margin-top: -100px;
    height: 100vh;
    background-color: $light-grey;
    ul {
        list-style: none;
        padding-left: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .active {
            border-left: 3px solid $cta-color;
        }
        li {
            flex: auto;
            
        }

        a {
            text-decoration: none;
            color:$body-color;
            padding-left: 15px;  
            border-left: 3px solid $light-grey;
            &:hover {
                border-left: 3px solid $cta-color;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .app-sidebar {
        display: none;
    }
    .app-dashboard {
        margin-left: 0px;
    }
}