.quote-dashboard {
  margin-top: 100px;
}

.service-results-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
  }
  
  .service-result {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .service-result h2 {
    margin-top: 0;
  }
  
  .service-result ul {
    margin: 0;
    padding: 0;
  }
  
  .service-result ul li {
    list-style: none;
  }
  
  .service-result ul li:not(:last-child) {
    margin-bottom: 5px;
  }

  p {
    padding-top: 0px;
    padding-bottom: 0px;
    margin : 0px;
  }
  