.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:15px;
  }

  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .mx-auto {
    margin: auto;
  }

  .page-container {
    margin-top:80px;
  }

  @media only screen and (max-width: 920px) {
    .page-container {
      margin-top:15px;
    }
    .container {
      padding:0px;
    }
    .page-header {
      h2 {
        margin-bottom: 0px;
      }
      p {
        margin-top: 0px;
        font-size: 18px;
      }
    }
  }