.hero {
    padding-top:6rem;
    padding-bottom: 2.5rem;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    margin-top: -74px;
    background-color: aqua;
    
    .hero-text {
        padding:15px;
        width:40%;
        h1 {
            margin-bottom: 0px;
            padding-bottom: 0px;
            display: block;
            font-size: 4.5rem;
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
    .hero-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.2;
        top:0;
        left:0;
    }
}

@media only screen and (max-width: 920px) {
    .hero-text {
        width: 100% !important;
    }
}

